.container
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffff;
    padding: 0;
    border-right: 1px solid lightgrey;
    overflow-y: scroll;
    height: 100%;
    align-items: start;
}

.container>div
{
    width: 100%;
}

.container::-webkit-scrollbar
{
    display: none;
}

.logo
{
    display: flex;
    color: var(--accentColor);
    margin: 50px auto;
    width: fit-content;
}

.body
{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: start;
    align-items: center;
    padding: 0px 20px;
}

.icon
{
    margin:0px 20px;
    height:24px;
    width:auto;
}

.activeLink
{
    display: flex;
    text-decoration: none;
    color: var(--accentColor);
    font-size: 16px;
    font-weight: 600;
    line-height: 3;
    align-items: center;
    justify-content: start;
    background-color: aliceblue;
    height: 50px;
    border-radius: 10px;
    width: 100%;
    margin: 0px 20px;
    transition: color 0.4s, border 0.2s;

}

.activeLink>svg
{
    fill: var(--accentColor);
    stroke: var(--accentColor);
}

.inactiveLink
{
    display: flex;
    text-decoration: none;
    color: gray;
    font-size: 16px;
    font-weight: 600;
    line-height: 3;
    align-items: center;
    justify-content: start;
    height: 50px;
    border-radius: 10px;
    width: 100%;
    margin: 0px 20px;
    transition: color 0.4s, border 0.2s;
}

.inactiveLink>svg
{
    fill: grey;
    stroke:grey;
}

.logout
{
    background-color: transparent;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: #FF9924;
    font-size: 16px;
    font-weight: 600;
    margin: 30px auto;
}

@media (max-width:1600px)
{
    .activeLink
    {
        font-size: 14px;
    }
    .inactiveLink
    {
        font-size: 14px;
    }
    .icon
    {
        height: 20px;
        width: auto;
    }
}

@media (max-width:1366px)
{

    .activeLink
    {
        font-size: 14px;
    }
    .inactiveLink
    {
        font-size: 14px;
    }

}
@media (max-width:1280px)
{
    .activeLink
    {
        font-size: 14px;
    }
    .inactiveLink
    {
        font-size: 14px;
    }

}
@media (max-width:1024px)
{
    .activeLink
    {
        font-size: 14px;
    }
    .inactiveLink
    {
        font-size: 14px;
    }
    .icon
    {
        margin: 0px 10px;
    }
}
@media (max-width:960px)
{
    .activeLink > span, .inactiveLink > span
    {
        display: none;
    }
    .activeLink, .inactiveLink
    {
        border: none;
        background-color: transparent;
    }

    .container
    {
        width: fit-content;
        padding: 0;
    }
    .body
    {
        justify-content: center;
    }
    .icon
    {
        margin: 0;
    }
    .container > div > h3
    {
        color: transparent;
    }
}
@media (max-width:480px)
{
    .container
    {
        display: none;
    }
}
@media (max-width:360px)
{

}