#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  --secondaryColor: #ffff;
  --accentColor:#0052B4;
  --primaryColor:white;
  --shadowColor: #dadada79;
  --black: #333333;
  --red: #EA3A77;
  --yellow: #FFC800;
  --green:rgb(0, 180, 0);

  background-color: var(--secondaryColor);
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--shadowColor);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accentColor);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

hr
{
  width: 100%;
  border: none;
  border-top: 1px solid lightgray;
}

.mainContainer
{
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 100vh;
}
.nav
{
  width: 15vw;
}

.maindiv
{
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

@media (max-width:1600px)
{
  
}

@media (max-width:1366px)
{
  .nav
  {
    width: 20vw;
  }
  .maindiv
  {
    width: 80vw;
  }
}
@media (max-width:1279px)
{
    
}
@media (max-width:1023px)
{

}
@media (max-width:960px)
{

  .nav
  {
      display: none;
  }
  .maindiv
  {
      width: 100vw;
  }
    
}
@media (max-width:479px)
{
   
}
@media (max-width:359px)
{

}