.container
{
    width:100%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.roadmap
{
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    height: fit-content;
    width: 90%;
    margin: 40px auto;
    row-gap: 20px;
}

.header
{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: start;
}

.header>button
{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    background-color: lightgrey;
    border-radius: 50px;
    border: 1px solid lightgrey;
}

.header>button>img
{
    height: 20px;
    width: auto;
}

.header>span
{
    font-size: 14px;
    font-weight: 400;
    color: rgba(128, 128, 128, 0.8);
}

.header>p
{
    font-size: 18px;
    font-weight: 600;
    color: var(--black);
}

.module
{
    display: block;
    padding: 10px 20px;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

.body
{
    overflow: hidden;
    transition: all 0.5s;
}

.body::-webkit-scrollbar
{
    display: none;
}

.hard, .medium, .easy
{
    margin: 30px 0px;
    padding: 0px 10px;
}

.hard>span
{
    background-color: var(--red);
    color: var(--primaryColor);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
    padding: 5px 10px;
    font-size: 16px;
    margin-left: 10px;
}
.medium>span
{
    background-color: var(--yellow);
    color: var(--primaryColor);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
    padding: 5px 10px;
    font-size: 16px;
    margin-left: 10px;
}
.easy>span
{
    background-color: var(--green);
    color: var(--primaryColor);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
    padding: 5px 10px;
    font-size: 16px;
    margin-left: 10px;
}

.topicDiv
{
    background-color: var(--primaryColor);
    border: 1px solid lightgrey;
    margin: 0;
    padding: 10px 20px;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
    color: var(--black);
    box-shadow: 0px 0px 10px 2px var(--shadowColor);
    margin-top: 2px;
}